
/* =================
    Fall Styles
================= */ 

/* General Styles  */

.references-light a {
    color: var(--fall-brand);
    padding-left: 0.3rem;
}

.references-light a:hover {
    color: var(--fall-accent);
}

.references-dark a {
    color: var(--fall-primary);
    padding-left: 0.3rem;
}

.references-dark a:hover {
    color: var(--fall-tertiary);
}

/* Fall Navigation */

.nav-fall{
    background-color: var(--fall-primary);
}

.nav-link {
    color: var(--fall-brand);
}

.nav-link:hover {
    color: var(--fall-accent);
}

.fall-active {
    color: var(--fall-accent);
}

/* Fall Button 01 */

#fall-btn1 {
    background-color: var(--fall-accent);
    border: 2px solid var(--fall-accent);
    transition: background-color 0.5s ease; 
}

#fall-btn1 a {
    text-decoration: none;
    color: white;
}

#fall-btn1:hover {
    border: 2px solid var(--fall-accent);  
    background-color: var(--fall-primary);
}

#fall-btn1:hover a {
    color: var(--fall-accent);
}

/* Fall Button 02 */

#fall-btn2 {
    background-color: var(--fall-brand);
    border: 2px solid var(--fall-brand);
    margin-right: 0.5rem; 
    transition: background-color 0.5s ease; 
}

#fall-btn2 a {
    text-decoration: none;
    color: white;
}

#fall-btn2:hover {
    border: 2px solid var(--fall-brand);  
    background-color: var(--fall-primary);
}

#fall-btn2:hover a {
    color: var(--summer-brand);
}

/* Fall Button 03 */

#fall-btn3 {
    border: 2px solid var(--fall-accent);   
    background-color: var(--fall-accent);
    transition: background-color 0.5s ease;
}

#fall-btn3 a {
    text-decoration: none;
    color: #FFF;
}

#fall-btn3:hover{
    background-color: var(--fall-primary);
}

#fall-btn3:hover a{
    color: var(--fall-accent);
}

/* Fall Images */

#fall-first-sec img, #fall-second-sec img, 
#fall-third-sec img, #fall-fourth-sec img, 
#fall-fifth-sec img{
    padding: 0;
    margin:0;
}

/* Fall First Section */

#fall-first-sec {
    background-color: var(--fall-primary);
    color: var(--fall-brand);
    position: relative;
    /* padding-top: 2rem; */
}

#fall-fsec-img1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

#fall-fsec-img2 {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

#fall-fsec-img3 {
    position: absolute;
    bottom: 0;
    left: 15%;
    z-index: 100;
}

#fall-fsec-img4 {
    transform: scaleX(-1);
    position: absolute;
    position: absolute;
    bottom: 0;
    right: 15%;
    z-index: 100;
}

#fall-fsec-img1, #fall-fsec-img2 {
    max-width: 275px;
}

#fall-fsec-img3, #fall-fsec-img4 {
    max-width: 285px;
}

/* Fall Second Section */

#fall-second-sec {
    background-color: var(--fall-secondary);
    color: var(--fall-primary);
    position: relative;
    /* padding-top: 6.5rem;
    padding-bottom: 6rem; */
}

#fall-second-sec h3 {
    padding: 1rem 0;
}

#fall-second-sec p {
    text-align: left;
}

#fall-ssec-thumbnail-sec {
    padding-top: 4rem;
}

#fall-ssec-img1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
}

#fall-ssec-img2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
}

#fall-ssec-img1, #fall-ssec-img2 {
    max-width: 400px;
}

#source-section2 {
    padding-top: 3rem;
}

.text-section2 a {
    color: var(--fall-primary);
}

.text-section2 a:hover {
    color: var(--fall-tertiary);
}

/* Fall Third Section */

#fall-third-sec {
    background-color: var(--fall-primary);
    color: var(--fall-brand);
    /* padding-top: 8rem;
    padding-bottom: 4rem; */
}

#fall-third-sec p {
    padding-bottom: 1rem;
}

/* Fall Fourth Section */

#fall-fourth-sec {
    background-color: var(--fall-secondary);
    color: var(--fall-primary);
    position: relative;
    /* padding: 7rem 6rem; */
}

#fall-fourth-sec p {
    padding-bottom: 2rem;
}

#fall-frsec-img1 {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 400px;
    z-index: 0;
}

/* Fall Fifth Section */

#fall-fifth-sec {
    background-color:var(--fall-primary);
    color: var(--fall-brand);
    position: relative;
}

#fall-fifth-sec .footer .fall-btn1 {
    margin-right: 1rem;
}

#fall-fifth-img1 {
    position: absolute;
    bottom: 0;
    left: 9%;
    max-width: 500px;
    z-index: 0;
}

#fall-fifth-sec p {
    padding-bottom: 3rem;
}

.footer-sec1 {
    z-index: 0;
}

.footer-sec2 {
    z-index: 1;
}

.title-footer {
    padding-top: 2rem;
}

/* =================
    Media Queries
================= */ 
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #navbarNav ul li{
        border-color: var(--fall-brand);
    }  

    #fall-fsec-img1, #fall-fsec-img2, #fall-fsec-img3, #fall-fsec-img4{
        max-width: 200px;
    }

    #fall-ssec-img1, #fall-ssec-img2 {
        max-width: 150px;
    }

    #fall-frsec-img1 {
        max-width: 320px;
    }

    #fall-fifth-img1 {
        left: 5%;
        max-width: 400px;
    }
}

 /* Small devices (landscape phones, less than 768px) */
 @media (max-width: 767.98px) {

    #fall-fsec-img1, #fall-fsec-img2, 
    #fall-fsec-img3, #fall-fsec-img4{
        display: none;
    }

    #fall-ssec-img1, #fall-ssec-img2 {
        display: none;
    }

    #fall-frsec-img1 {
        display: none;
    }

    #fall-fifth-img1 {
        display: none;
    }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
   
}
