/* =================
    Spring Styles
================= */ 

/* General Styles  */

.references-light a {
    color: var(--spring-brand);
    padding-left: 0.2rem;
}

.references-light a:hover {
    color: var(--spring-accent);
}

.references-dark a {
    color: var(--spring-secondary);
    padding-left: 0.2rem;
}

.references-dark a:hover {
    color: var(--spring-tertiary);
}


/* Spring Navigation */
.nav-spring{
    background-color: var(--spring-primary);
}

.spring-active {
    color: var(--spring-accent);
}

.nav-link:hover {
    color: var(--spring-accent);
}

/* Spring Button 01 */

#spring-btn1 {
    background-color: var(--spring-accent);
    border: 2px solid var(--spring-accent);
    transition: background-color 0.5s ease;
}

#spring-btn1 a {
    text-decoration: none;
    color: white;
}

#spring-btn1:hover {
    border: 2px solid var(--spring-accent);  
    background-color: var(--spring-primary);
}

#spring-btn1:hover a {
    color: var(--spring-accent);
}

/* Spring Button 02 */

#spring-btn2 {
    background-color: var(--spring-brand);
    border: 2px solid var(--spring-brand);
    margin-right: 0.5rem; 
    transition: background-color 0.5s ease;
}

#spring-btn2 a {
    text-decoration: none;
    color: #fff;
}

#spring-btn2:hover {
    border: 2px solid var(--spring-brand);  
    background-color: var(--spring-primary);
}

#spring-btn2:hover a {
    color: var(--summer-brand);
}

/* Spring Button 03 */

#spring-btn3 {
    border: 2px solid var(--spring-accent);   
    background-color: var(--spring-accent);
    transition: background-color 0.5s ease;
}

#spring-btn3 a {
    text-decoration: none;
    color: #fff;
}

#spring-btn3:hover{
    background-color: var(--spring-primary);
}

#spring-btn3:hover a{
    color: var(--spring-accent);
}

/* Spring Images */

#spring-first-sec img, #spring-second-sec img, 
#spring-third-sec img, #spring-fourth-sec img, 
#spring-fifth-sec img{
    padding: 0;
    margin:0;
}


/* Spring First Section */

#spring-first-sec {
    background-color: var(--spring-primary);
    color: var(--spring-brand);
    position: relative;
    padding-top: 2rem;
}

#spring-fsec-img1 {
    position: absolute;
    bottom: -22%;
    left: 0;
    z-index: 10000;
}

#spring-fsec-img2 {
    position: absolute;
    bottom: -18%;
    right: 0;
    z-index: 10000;
}

#spring-fsec-img3 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

#spring-fsec-img4 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

#spring-fsec-img5 {
    position: absolute;
    bottom: 0;
    left: 10%;
    z-index: 100;
}

#spring-fsec-img6 {
    position: absolute;
    bottom: 0;
    right: 10%;
    z-index: 100;
}

#spring-fsec-img1, #spring-fsec-img2, #spring-fsec-img5, #spring-fsec-img6 {
    max-width: 400px;
}

#spring-fsec-img3, #spring-fsec-img4 {
    max-width: 230px;
}

/* Spring Second Section */

#spring-second-sec {
    background-color: var(--spring-brand);
    color: var(--spring-secondary);
    position: relative;
    padding: 6.5rem 6rem 6rem 6rem;
}

#spring-second-sec h3 {
    padding: 2rem 0;
    margin: 0;
}

.bottom-content-section2 {
    padding: 0 1.5rem;
}

#spring-second-sec p {
    text-align: left;
}

#source-section2 {
    padding-top: 3rem;
    font-size: 1.2rem;
}

#source-section2 a {
    padding: 0 0.5rem;
    color: var(--spring-secondary);
}

#source-section2 a:hover {
    color: var(--spring-tertiary);
}

#spring-ssec-img1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
}

#spring-ssec-img2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
}

/* Spring Third Section */

#spring-third-sec {
    background-color: var(--spring-primary);
    color: var(--spring-brand);
    padding-top: 8rem;
}

#spring-third-sec p {
    padding-bottom: 3rem;
}

/* Spring Fourth Section */

#spring-fourth-sec {
    background-color:var(--spring-brand);
    color: var(--spring-secondary);
    position: relative;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

#spring-fourth-sec p {
    padding-bottom: 3rem;
}

#spring-frsec-img1 {
    position: absolute;
    bottom: -5%;
    right: 0;
    max-width: 400px;
    z-index: 0;

}

/* Spring Fifth Section */

#spring-fifth-sec {
    background-color:var(--spring-primary);
    color: var(--spring-brand);
    position: relative;
    padding-top: 7rem;
}

#spring-fifth-sec p {
    padding-bottom: 3rem;
}

#spring-fifth-sec .footer .spring-btn1 {
    margin-right: 1rem;
}

#spring-fifth-img1 {
    position: absolute;
    bottom: 0;
    left: 10%;
    max-width: 500px;
    z-index: 1000;
}

.title-footer {
    padding-top: 2rem;
}

/* =================
    Media Queries
================= */ 
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #navbarNav ul li{
        border-color: var(--spring-brand);
    }  

    #spring-fsec-img1, #spring-fsec-img2, #spring-fsec-img5, #spring-fsec-img6 {
        max-width: 300px;
    }
    
    #spring-fsec-img3, #spring-fsec-img4 {
        max-width: 200px;
    }

    #spring-ssec-img1, #spring-ssec-img2 {
        max-width: 200px;
    }

    #spring-frsec-img1 {
        max-width: 350px;
    }

    #spring-fifth-img1 {
        left: 5%;
        max-width: 400px;
    }
}

 /* Small devices (landscape phones, less than 768px) */
 @media (max-width: 767.98px) {

    #spring-fsec-img1, #spring-fsec-img2, 
    #spring-fsec-img3, #spring-fsec-img4, 
    #spring-fsec-img5, #spring-fsec-img6 {
        display: none;
    }

    #spring-ssec-img1, #spring-ssec-img2 {
        display: none;
    }

    #spring-frsec-img1 {
        display: none;
    }

    #spring-fifth-img1 {
        display: none;
    }


}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
   
}