/* =================
    Spring Styles
================= */ 
.nav-spring{
    background-color: var(--spring-primary);
}

.spring-active {
    color: var(--spring-accent);
}

.spring-btn1 {
    background-color: var(--spring-accent);
    border: 2px solid var(--spring-accent);
    color: white; 
}

.spring-btn1:hover {
    border: 2px solid var(--spring-accent);
    color: var(--spring-accent);
}

.spring-btn2 {
    border: 2px solid var(--spring-accent);
    color: var(--spring-accent);
}

.spring-btn2:hover{
    background-color: var(--spring-accent);
    color: white;
}

/* Spring First Section */

.spring-first-sec {
    background-color: var(--spring-primary);
    color: var(--spring-brand);
    position: relative;
}

#spring-fsec-img1 {
    position: absolute;
    bottom: -22%;
    left: 0;
    z-index: 10000;
}

#spring-fsec-img2 {
    position: absolute;
    bottom: -18%;
    right: 0;
    z-index: 10000;
}

#spring-fsec-img3 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

#spring-fsec-img4 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

#spring-fsec-img5 {
    position: absolute;
    bottom: 0;
    left: 10%;
    z-index: 100;
}

#spring-fsec-img6 {
    position: absolute;
    bottom: 0;
    right: 10%;
    z-index: 100;
}

#spring-fsec-img1, #spring-fsec-img2, #spring-fsec-img5, #spring-fsec-img6 {
    max-width: 400px;
}

#spring-fsec-img3, #spring-fsec-img4 {
    max-width: 230px;
}

/* Spring Second Section */

.spring-second-sec {
    background-color: var(--spring-brand);
    color: var(--spring-secondary);
    position: relative;
}

.spring-second-sec h3 {
    padding: 1rem 0;
}

.spring-second-sec p {
    text-align: left;
}

#spring-ssec-img1 {
    position: absolute;
    bottom: -5%;
    left: 0;
    z-index: 100;
}

#spring-ssec-img2 {
    position: absolute;
    bottom: -5%;
    right: 0;
    z-index: 100;
}

#spring-ssec-thumbnail-sec img {
    max-width: 200px;
}

/* Spring Third Section */

.spring-third-sec {
    background-color: var(--spring-primary);
    color: var(--spring-brand);
}

/* Spring Fourth Section */

.spring-fourth-sec {
    background-color:var(--spring-brand);
    color: var(--spring-secondary);
    position: relative;
}

#spring-frsec-img1 {
    position: absolute;
    bottom: -25%;
    right: 0;
    z-index: 0;
    max-width: 350px;
}

/* Spring Fifth Section */

.spring-fifth-sec {
    background-color:var(--spring-primary);
    color: var(--spring-brand);
    position: relative;
}

.spring-fifth-sec .footer .spring-btn1 {
    margin-right: 1rem;
}

.spring-fifth-sec .footer-sec1 img {
    position: absolute;
    bottom: 0;
    left: 10%;
}

/* =================
    Media Queries
================= */ 

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }