 /* ============
    Fonts
============ */   

/* Headings: Petrona, Body: Lato */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Petrona:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

/* ================
    Color Palette
================ */ 
:root {
    --spring-brand: #007935;
    --spring-primary: #FEFFE4;
    --spring-accent:#FF2E71;
    --spring-secondary: #FFF7BD;
    --spring-tertiary: #003c1a;

    --summer-brand: #025F38;
    --summer-primary: #FFFDCB;
    --summer-accent:#F55800;
    --summer-secondary: #CCE436;

    --fall-brand: #283618;
    --fall-primary: #FFF7F2;
    --fall-accent:#C44536;
    --fall-secondary: #606C38;
    --fall-tertiary: #0f1608;

    --winter-brand: #113B7B;
    --winter-primary: #F4F7FF;
    --winter-accent:#C55DF6;
    --winter-secondary: #354E71;
    --winter-tertiary: #091a33;    
}

/* =================
    General Styles
================= */ 

body {
    width: 100vw;
    font-family: 'Lato', sans-serif;
    padding: 0;
    background-color: var(--spring-primary) ;
    font-size: 1rem;
}

h1, h2, h3, h4, h5 {
    font-family: 'Petrona', serif;
    font-weight: 700;
}

h1, h3 {
    margin-bottom: 2rem;
}

h1 {
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 3.8rem;
    padding-top: 3.5rem;
    padding-bottom: 2rem;
}

h2{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 3rem;
}

h3{
    font-size: 2rem;
}

p, a, ul, li, span {
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
}

.custom-btn{
    padding: 0.5rem 2rem;
    border-radius: 0.4rem;
}

.section {
    width: 100%;
    padding: 5rem 5rem;
    font-size: 1.2rem;
}

.landing-sec {
    height: 32rem;
}

.section-img {
    max-width: 450px;
}

.section-img-overlay {
    z-index: 100;
}

.custom-thumbnail {
    padding-bottom: 1rem;
}

.footer {   
    text-align: right;
    padding-top: 5rem;
}

.footer-brand {
    padding-bottom: 1rem;
}    

span .references {
    /* padding: 2rem 0 0 0; */
    margin-top: 4rem !important;
}

/* =================
    Navigation
================= */
#navbarNav ul {
    align-items: flex-end;
}

#navbarNav li {
    padding-top: 1rem;
} 

.navbar-brand {
    padding: 0 2rem;
}

.brand-full {
    max-width: 230px;
    display: block;
}

.brand-half {
    margin-top: 0.8rem;
    max-height: 57.95px;
    display: none;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}


nav ul li {
    padding: 0 1rem;
}

.nav-link {
    color: var(--spring-brand);
}

.nav-link .active a{
    color: var(--spring-accent);
}


/* =================
    Home Page
================= */

#index-logo {
    width: 5rem;
    padding-bottom: 2rem;
}

#index-header {
    padding: 6.5rem 7rem 2rem 7rem;
}

#index-h1 {
    font-size: 4rem;
    line-height: 4rem;
    color: var(--spring-brand);
}

#index-p {
    font-size: 1.4rem;
    color: var(--spring-brand);
    border-left: 1px solid var(--spring-brand);
    padding-left: 5rem;
}

#index-p a {
    color: var(--spring-brand);
}

#index-p a:hover {
    color: var(--spring-accent);
}

#index-main {
    padding: 2rem 4.5rem 2rem 4.5rem;
}

#spring-btn a {
    font-size: 2.7rem;
    font-family: 'Petrona', serif;
    font-weight: 700;
    color: var(--spring-secondary);
    text-decoration: none;
    text-align: center;
    background-image: url(../assets/index-nav/spring-icon-btn.svg);
    background-repeat: no-repeat;
    background-size: 9rem;
    background-color: var(--spring-brand);
    background-position: left;
    padding: 2rem;
    width: 18rem;
    border-radius: 0.8rem;
    transition: background-color 0.5s ease;
}

#spring-btn a:hover {
    background-color: var(--spring-accent);
}

#summer-btn a {
    font-size: 2.7rem;
    font-family: 'Petrona', serif;
    font-weight: 700;
    color: var(--summer-brand);
    text-decoration: none;
    text-align: center;
    background-image: url(../assets/index-nav/summer-icon-btn.svg);
    background-repeat: no-repeat;
    background-size: 9rem;
    background-color: var(--summer-secondary);
    background-position: left;
    padding: 2rem;
    width: 20rem;
    border-radius: 0.8rem;
    transition: background-color 0.5s ease;
}

#summer-btn a:hover {
    color: var(--summer-primary);
    background-color: var(--summer-accent);
}

#fall-btn a {
    font-size: 2.7rem;
    font-family: 'Petrona', serif;
    font-weight: 700;
    color: var(--fall-primary);
    text-decoration: none;
    text-align: center;
    background-image: url(../assets/index-nav/fall-icon-btn.svg);
    background-repeat: no-repeat;
    background-size: 9rem;
    background-color: var(--fall-brand);
    background-position: left;
    padding: 2rem;
    width: 20rem;
    border-radius: 0.8rem;
    transition: background-color 0.5s ease;
}

#fall-btn a:hover {
    color: var(--summer-primary);
    background-color: var(--fall-accent);

}

#winter-btn a {
    font-size: 2.7rem;
    font-family: 'Petrona', serif;
    font-weight: 700;
    color: var(--winter-primary);
    text-decoration: none;
    text-align: center;
    background-image: url(../assets/index-nav/winter-icon-btn.svg);
    background-repeat: no-repeat;
    background-size: 7.5rem;
    background-color: var(--winter-brand);
    background-position: left;
    padding: 2rem;
    width: 20rem;
    border-radius: 0.8rem;
    transition: background-color 0.5s ease;
}

#winter-btn a:hover {
    color: var(--summer-primary);
    background-color:var(--winter-accent);

}

#instr {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 5rem;
    color: var(--spring-brand);
}

.buttons {
    display: flex;
    justify-content: center;
}

.homepage {
    height: 100vh;
    background-image: url("../assets/bg-home.svg");
    background-repeat: no-repeat;
    background-position: center;
}


/* =================
    Form Page
================= */ 

.section1-form, .section2-form {
    padding: 6rem 2rem;
}

.section2-form label {
    color: var(--spring-brand);
    font-weight: 700;
}

.section1-form h1 {
    color: var(--spring-brand);
    font-weight: 800;
    font-size: 3rem;
}

.section1-form p {
    color: var(--spring-brand);
    font-size: 1.3rem;
}

.section1-form img {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.section1-form a {
    color: var(--spring-brand);
    font-size: 2rem;
    font-weight: 700;
}

.box-form {
    padding: 1rem 1rem;

}

input[type=text] {
    border-color: var(--spring-brand);
    border-width: 0.05rem;
}

#email {
    border-color: var(--spring-brand);
    border-width: 0.05rem;
}

.box-form textarea {
    border-color: var(--spring-brand);
    border-width: 0.05rem;
}

#form-btn {
    background-color: var(--spring-accent);
    border: 2px solid var(--spring-accent); 
    color: #fff;
}

#form-btn a {
    text-decoration: none;
    color: white;
}

#form-btn:hover {
    border: 2px solid var(--spring-accent);  
    background-color: var(--spring-primary);
    color: var(--spring-accent);
}

/* =================
    Media Queries
================= */ 

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .brand-full {
        display: none;
    }
    
    .brand-half {
        display: block;
    } 

    #navbarNav {
        padding: 4.5rem;   
    }

    #navbarNav ul {
        align-items: stretch;
    }

    #navbarNav ul li{

        border-bottom: solid 1px;
    }  

    .section-img {
        max-width: 400px;
    }

}

 /* Small devices (landscape phones, less than 768px) */
 @media (max-width: 767.98px) {
    h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        padding-top: 3rem;
        padding-bottom: 1.5rem;
    }
    
    h2{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    
    h3{
        font-size: 1.8rem;
    }

    p, a, ul, li, span {
        font-size: 1.05rem;
    } 
    
    #index-p {
        border: none;
        padding-left: 0;
    }

    #index-main {
        padding: 1rem;
    }

    .section1-form, .section2-form {
        padding: 1.5rem 2rem;

    }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        padding-top:2.5rem;
        padding-bottom: 1rem;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p, a, ul, li, span {
        font-size: 1rem;
    }

    #index-header {
        padding: 2.5rem;
    }

    #index-h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    #index-main {
        padding: 0;
    }

    #fall-btn, #winter-btn {
        margin: 0;
        /* margin-bottom: 1.7rem; */
    }
    
}