
/* =================
    Summer Styles
================= */ 

/* Summer Navigation */

.nav-summer{
    background-color: var(--summer-primary);
}

.summer-active {
    color: var(--summer-accent);
}

.nav-link:hover {
    color: var(--summer-accent);
}

/* Summer Button 01 */

#summer-btn1 {
    background-color: var(--summer-accent);
    border: 2px solid var(--summer-accent);
    transition: background-color 0.5s ease; 
}

#summer-btn1 a {
    text-decoration: none;
    color: white;
}

#summer-btn1:hover {
    border: 2px solid var(--summer-accent);  
    background-color: var(--summer-primary);
}

#summer-btn1:hover a {
    color: var(--summer-accent);
}

/* Summer Button 02 */

#summer-btn2 {
    background-color: var(--summer-brand);
    border: 2px solid var(--summer-brand); 
    margin-right: 0.5rem;
    transition: background-color 0.5s ease;
}

#summer-btn2 a {
    text-decoration: none;
    color: white;
}

#summer-btn2:hover {
    border: 2px solid var(--summer-brand);  
    background-color: var(--summer-primary);
}

#summer-btn2:hover a {
    color: var(--summer-brand);
}

/* Summer Button 03 */

#summer-btn3 {
    border: 2px solid var(--summer-accent);   
    background-color: var(--summer-accent);
    transition: background-color 0.5s ease;
}

#summer-btn3 a {
    text-decoration: none;
    color: #fff;
}

#summer-btn3:hover{
    background-color: var(--summer-primary);
}

#summer-btn3:hover a{
    color: var(--summer-accent);
}

/* Summer Images */

#summer-first-sec img, #summer-second-sec img, 
#summer-third-sec img, #summer-fourth-sec img, 
#summer-fifth-sec img{
    padding: 0;
    margin:0;
}

#summer-fsec-img1, #summer-fsec-img2 {
    max-width: 210px;
}

#summer-fsec-img3, #summer-fsec-img4 {
    max-width: 410px;
}

/* Summer First Section */

#summer-first-sec {
    background-color: var(--summer-primary);
    color: var(--summer-brand);
    position: relative;
    padding-top: 2rem;
}

#summer-fsec-img1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

#summer-fsec-img2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

#summer-fsec-img3 {
    position: absolute;
    bottom: 0;
    left: 10%;
    z-index: 100;
}

#summer-fsec-img4 {
    position: absolute;
    bottom: 0;
    right: 10%;
    z-index: 100;
}

#summer-fsec-img5, #summer-fsec-img6 {
    max-width: 250px;
}

/* Summer Second Section */

#summer-second-sec {
    background-color: var(--summer-secondary);
    color: var(--summer-brand);
    position: relative;
    padding: 6.5rem 6rem 6rem 6rem;
}

#summer-second-sec h3 {
    padding: 1rem 0;
}

.text-section2 {
    text-align: left;
}

#summer-ssec-img1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
}

#summer-ssec-img2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
}

#summer-ssec-img1, #summer-ssec-img2 {
    max-width: 300px;
}

#summer-ssec-thumbnail-sec img {
    max-width: 250px;
}

.book-item a {
    color: var(--summer-brand);
    font-weight: 700;
}

.book-item a:hover {
    color: var(--summer-accent);
}

.book-title {
    padding: 1.5rem 1rem;
    margin: 0;
    text-align: center;
}

.author {
    padding: 0 1rem;
    margin: 0;
    font-weight: 700;
    text-align: center;
}

#ref-section2 {
    padding-top: 5rem;
    font-size: 1.2rem;
}

#ref-section2 a {
    color: var(--summer-brand);
}

#ref-section2 a:hover {
    color: var(--summer-accent);
}

/* Summer Third Section */

#summer-third-sec {
    background-color: var(--summer-primary);
    color: var(--summer-brand);
    padding-top: 8rem;
}

#summer-third-sec p {
    padding-bottom: 1.5rem;
}

.text-section3 a {
    color: var(--summer-brand);
}

.text-section3 a:hover {
    color: var(--summer-accent);
}



/* Summer Fourth Section */

#summer-fourth-sec {
    background-color:var(--summer-secondary);
    color: var(--summer-brand);
    padding-top: 7rem;
    padding-bottom: 7rem;
}

#summer-fourth-sec p {
    padding-bottom: 1.5rem;
}

.image-section4 img {
    max-width: 500px;
}

.text-section4 a{
    color: var(--summer-brand);
}

.text-section4 a:hover{
    color: var(--summer-accent);
}

/* Summer Fifth Section */

#summer-fifth-sec {
    background-color:var(--summer-primary);
    color: var(--summer-brand);
    position: relative;
}

#summer-fifth-sec .footer .summer-btn1 {
    margin-right: 1rem;
}

#summer-fifth-sec .footer-sec1 img {
    position: absolute;
    bottom: 0;
    left: 14%;
    max-width: 500px;
}

.text-section5 li {
    padding: 1rem 0;
}

.text-section5 h4 {
    padding-top: 1rem;
}

.text-section5 a {
    color: var(--summer-brand);
}

.text-section5 a:hover{
    color: var(--summer-accent);
}

.footer-sec2 {
    z-index: 1;
}

.title-footer {
    padding-top: 2rem;
}



/* =================
    Media Queries
================= */ 

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #navbarNav ul li{
        border-color: var(--summer-brand);
    }  
}

 /* Small devices (landscape phones, less than 768px) */
 @media (max-width: 767.98px) {

    #summer-fsec-img1, #summer-fsec-img2, 
    #summer-fsec-img3, #summer-fsec-img4{
        display: none;
    }

    #summer-ssec-img1, #summer-ssec-img2 {
        display: none;
    }

    #summer-fifth-img1 {
        display: none;
    }

}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
   
}