
/* =================
    Summer Styles
================= */ 

.nav-summer{
    background-color: var(--summer-primary);
}

.summer-active {
    color: var(--summer-accent);
}

.summer-btn1 {
    background-color: var(--summer-accent);
    border: 2px solid var(--summer-accent);
    color: white; 
}

.summer-btn1:hover {
    border: 2px solid var(--summer-accent);
    color: var(--summer-accent);
}

.summer-btn2 {
    border: 2px solid var(--summer-accent);
    color: var(--summer-accent);
}

.summer-btn2:hover{
    background-color: var(--summer-accent);
    color: white;
}

#summer-first-sec img, #summer-second-sec img, 
#summer-third-sec img, #summer-fourth-sec img, 
#summer-fifth-sec img{
    padding: 0;
    margin:0;
}

/* Summer First Section */

#summer-first-sec {
    background-color: var(--summer-primary);
    color: var(--summer-brand);
    position: relative;
}

#summer-fsec-img1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

#summer-fsec-img2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

#summer-fsec-img3 {
    position: absolute;
    bottom: 0;
    left: 10%;
    z-index: 100;
}

#summer-fsec-img4 {
    position: absolute;
    bottom: 0;
    right: 10%;
    z-index: 100;
}

#summer-fsec-img1, #summer-fsec-img2, #summer-fsec-img5, #summer-fsec-img6 {
    max-width: 250px;
}

/* Summer Second Section */

#summer-second-sec {
    background-color: var(--summer-secondary);
    color: var(--summer-brand);
    position: relative;
}

#summer-second-sec h3 {
    padding: 1rem 0;
}

#summer-second-sec p {
    text-align: left;
}

#summer-ssec-img1 {
    position: absolute;
    bottom: -5%;
    left: 0;
    z-index: 100;
}

#summer-ssec-img2 {
    position: absolute;
    bottom: -5%;
    right: 0;
    z-index: 100;
}

#summer-ssec-img1, #summer-ssec-img2 {
    max-width: 300px;
}

#summer-ssec-thumbnail-sec img {
    max-width: 250px;
}

/* Summer Third Section */

#summer-third-sec {
    background-color: var(--summer-primary);
    color: var(--summer-brand);
}

/* Summer Fourth Section */

#summer-fourth-sec {
    background-color:var(--summer-secondary);
    color: var(--summer-brand);
}

/* Summer Fifth Section */

#summer-fifth-sec {
    background-color:var(--summer-primary);
    color: var(--summer-brand);
    position: relative;
}

#summer-fifth-sec .footer .summer-btn1 {
    margin-right: 1rem;
}

#summer-fifth-sec .footer-sec1 img {
    position: absolute;
    bottom: 0;
    left: 10%;
}

/* =================
    Media Queries
================= */ 

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }