
/* =================
    Winter Styles
================= */

/* General Styles  */

.references-light a {
    color: var(--winter-brand);
}

.references-light a:hover {
    color: var(--winter-accent);
}

.references-dark a {
    color: var(--winter-primary);
}

.references-dark a:hover {
    color: var(--winter-tertiary);
}

/* Winter Navigation */
.nav-winter{
    background-color: var(--winter-primary);
}

.nav-item .winter-active {
    color: var(--winter-accent);
}

.nav-item a {
    color: var(--winter-brand);
}

.nav-item a:hover {
    color: var(--winter-accent);
}

/* Winter Button 01 */

#winter-btn1 {
    background-color: var(--winter-accent);
    border: 2px solid var(--winter-accent);
    transition: background-color 0.5s ease;  
}

#winter-btn1 a {
    text-decoration: none;
    color: white;
}

#winter-btn1:hover {
    border: 2px solid var(--winter-accent);  
    background-color: var(--winter-primary);
}

#winter-btn1:hover a {
    color: var(--winter-accent);
}

/* Winter Button 02 */

#winter-btn2 {
    background-color: var(--winter-brand);
    border: 2px solid var(--winter-brand);
    margin-right: 0.5rem;
    transition: background-color 0.5s ease;   
}

#winter-btn2 a {
    text-decoration: none;
    color: white;
}

#winter-btn2:hover {
    border: 2px solid var(--winter-brand);  
    background-color: var(--winter-primary);
}

#winter-btn2:hover a {
    color: var(--winter-brand);
}

/* Winter Button 03 */

#winter-btn3 {
    border: 2px solid var(--winter-accent);   
    background-color: var(--winter-accent);
    transition: background-color 0.5s ease;  
}

#winter-btn3 a {
    text-decoration: none;
    color: #fff;
}

#winter-btn3:hover{
    background-color: var(--winter-primary);
}

#winter-btn3:hover a{
    color: var(--winter-accent);
}

/* Winter Images */

#winter-first-sec img, #winter-second-sec img, 
#winter-third-sec img, #winter-fourth-sec img, 
#winter-fifth-sec img{
    padding: 0;
    margin:0;
}

/* Winter First Section */

#winter-first-sec {
    background-color: var(--winter-primary);
    color: var(--winter-brand);
    position: relative;
    padding-top: 2rem;
}

#winter-fsec-img1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

#winter-fsec-img2 {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

#winter-fsec-img3 {
    position: absolute;
    bottom: 0;
    left: 20%;
    z-index: 100;
}

#winter-fsec-img4 {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    bottom:0;
    right: 20%;
    z-index: 100;
}

#winter-fsec-img1, #winter-fsec-img2 {
    max-width: 300px;
}

#winter-fsec-img3, #winter-fsec-img4 {
    max-width: 225px;
}

/* winter Second Section */

#winter-second-sec {
    background-color: var(--winter-secondary);
    color: var(--winter-primary);
    position: relative;
    padding: 6.5rem 6rem 6rem 6rem; 
}

.image-section2 img {
    max-width: 500px;   
}

.book-item a {
    color: var(--winter-primary);
    font-weight: 700;
}

.book-item a:hover {
    color: var(--winter-accent);
}

.book-title {
    margin: 0;
    text-align: center;
}

.author {
    padding: 0 1rem;
    margin: 0;
    font-weight: 700;
    text-align: center;
}

#winter-second-sec h3 {
    padding: 1rem 0;
}

#winter-ssec-img1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
}

#winter-ssec-img2 {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
}

#winter-ssec-img1, #winter-ssec-img2 {
    max-width: 230px;
}

#winter-ssec-thumbnail-sec p {
    margin-top: 1rem;
}

#ref-section2 {
    padding-top: 5rem;
    font-size: 1.2rem;
}

/* winter Third Section */

#winter-third-sec {
    background-color: var(--winter-primary);
    color: var(--winter-brand);
    padding-top: 8rem;
}

#winter-third-sec p {
    padding-bottom: 1.5rem;
}

/* winter Fourth Section */

#winter-fourth-sec {
    background-color: var(--winter-secondary);
    color: var(--winter-primary);
    position: relative;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

#winter-fourth-sec p {
    padding-bottom: 1.5rem;
}

#winter-frsec-img1 {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 400px;
    z-index: 0;
}

.image-section4{
    z-index: 1;
}

/* winter Fifth Section */

#winter-fifth-sec {
    background-color:var(--winter-primary);
    color: var(--winter-brand);
    position: relative;
}

#winter-fifth-sec .footer .winter-btn1 {
    margin-right: 1rem;
}

#winter-fifth-img1 {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 550px;
}

#winter-fifth-sec p {
    padding-bottom: 3rem;
}

.footer-sec2 {
    z-index: 1;
}

.title-footer {
    padding-top: 2rem;
}

/* =================
    Media Queries
================= */ 

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #navbarNav ul li{
        border-color: var(--winter-brand);
    }  

    #winter-fsec-img1, #winter-fsec-img2 {
        max-width: 230px;
    }

    #winter-fsec-img3, #winter-fsec-img4 {
        max-width: 200px;
    }

    #winter-ssec-img1, #winter-ssec-img2 {
        max-width: 150px;
    }

    #winter-frsec-img1 {
        max-width: 320px;
    }

    #winter-fifth-img1 {
        max-width: 400px;
    }
}

 /* Small devices (landscape phones, less than 768px) */
 @media (max-width: 767.98px) {

    #winter-fsec-img1, #winter-fsec-img2, 
    #winter-fsec-img3, #winter-fsec-img4{
        display: none;
    }

    #winter-ssec-img1, #winter-ssec-img2 {
        display: none;
    }

    #winter-frsec-img1 {
        display: none;
    }

    #winter-fifth-img1 {
        display: none;
    }

}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
   
}