
/* =================
    Winter Styles
================= */

/* Winter Navigation */
.nav-winter{
    background-color: var(--winter-primary);
}

.winter-active {
    color: var(--winter-accent);
}

/* Winter Button 01 */

#winter-btn1 {
    background-color: var(--winter-accent);
    border: 2px solid var(--winter-accent); 
}

#winter-btn1 a {
    text-decoration: none;
    color: white;
}

#winter-btn1:hover {
    border: 2px solid var(--winter-accent);  
    background-color: var(--winter-primary);
}

#winter-btn1:hover a {
    color: var(--winter-accent);
}

/* Winter Button 02 */

#winter-btn2 {
    background-color: var(--winter-brand);
    border: 2px solid var(--winter-brand); 
}

#winter-btn2 a {
    text-decoration: none;
    color: white;
}

#winter-btn2:hover {
    border: 2px solid var(--winter-brand);  
    background-color: var(--winter-primary);
}

#winter-btn2:hover a {
    color: var(--winter-brand);
}

/* Winter Button 03 */

#winter-btn3 {
    border: 2px solid var(--winter-accent);   
    background-color: var(--winter-primary);
}

#winter-btn3 a {
    text-decoration: none;
    color: var(--winter-accent);
}

#winter-btn3:hover{
    background-color: var(--winter-accent);
}

#winter-btn3:hover a{
    color: white;
}

/* Winter Images */

#winter-first-sec img, #winter-second-sec img, 
#winter-third-sec img, #winter-fourth-sec img, 
#winter-fifth-sec img{
    padding: 0;
    margin:0;
}

/* Winter First Section */

#winter-first-sec {
    background-color: var(--winter-primary);
    color: var(--winter-brand);
    position: relative;
}

#winter-fsec-img1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

#winter-fsec-img2 {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

#winter-fsec-img3 {
    position: absolute;
    bottom: 0;
    left: 20%;
    z-index: 100;
}

#winter-fsec-img4 {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    bottom:0;
    right: 20%;
    z-index: 100;
}

#winter-fsec-img1, #winter-fsec-img2 {
    max-width: 300px;
}

#winter-fsec-img3, #winter-fsec-img4 {
    max-width: 200px;
}

/* winter Second Section */

#winter-second-sec {
    background-color: var(--winter-secondary);
    color: var(--winter-primary);
    position: relative;
}

#winter-second-sec h3 {
    padding: 1rem 0;
}

#winter-second-sec p {
    text-align: left;
}

#winter-ssec-img1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
}

#winter-ssec-img2 {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
}

#winter-ssec-img1, #winter-ssec-img2 {
    max-width: 200px;
}

#winter-ssec-thumbnail-sec img {
    max-width: 200px;
    margin-bottom: 1rem;
}

#winter-ssec-thumbnail-sec p {
    margin-top: 1rem;
}

/* winter Third Section */

#winter-third-sec {
    background-color: var(--winter-primary);
    color: var(--winter-brand);
}

/* winter Fourth Section */

#winter-fourth-sec {
    background-color: var(--winter-secondary);
    color: var(--winter-primary);
    position: relative;
}

#winter-frsec-img1 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}

/* winter Fifth Section */

#winter-fifth-sec {
    background-color:var(--winter-primary);
    color: var(--winter-brand);
    position: relative;
}

#winter-fifth-sec .footer .winter-btn1 {
    margin-right: 1rem;
}

#winter-fifth-sec .footer-sec1 img {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* =================
    Media Queries
================= */ 

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }